.mynameis {
    color: white;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 10vh;
}

.name {
    color: white;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 20vh;
}

/* Initial hidden state */
.hidden {
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.8s ease-in-out;
}

/* Slide in from left */
.show-left {
    opacity: 1;
    transform: translateX(0);
}

/* Slide in from right */
.show-right {
    opacity: 1;
    transform: translateX(0);
}