.back-page-area-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 35vw; /* Adjust the width as needed */
    height: 100%;
    /* background: rgba(0, 0, 0, 0.1); Optional, just to see the area */
    z-index: 9999; /* Ensure it’s always on top */
    cursor: pointer;
}

.next-page-area-right {
    position: fixed;
    top: 0;
    right: 0;
    width: 35vw; /* Adjust the width as needed */
    height: 100%;
    /* background: rgba(0, 0, 0, 0.1); Optional, just to see the area */
    z-index: 9999; /* Ensure it’s always on top */
    cursor: pointer;
}